openapi: 3.2.0
info:
  title: IIT Delhi Departmental Site Platform News API
  version: '2026-08-30'
  summary: Undocumented but publicly readable JSON API backing the shared React/Express site platform IIT Delhi runs across its departmental and unit subdomains.
  description: 'Indian Institute of Technology Delhi operates a shared web platform used by several

    of its departments and administrative units — the Convocation office

    (`convocation.iitd.ac.in`), the Industrial Research & Development Unit

    (`ird.iitd.ac.in`) and the Computer Services Centre (`csc.iitd.ac.in`) all serve a

    create-react-app front end backed by an Express JSON API mounted at `/api`.'
  contact:
    name: Computer Services Centre, IIT Delhi
    url: https://csc.iitd.ac.in/
  x-operator: institution
  x-provenance:
    generated: '2026-08-30'
    method: derived
    x-derivation: probed
    source:
    - https://convocation.iitd.ac.in/api/news
    - https://convocation.iitd.ac.in/api/contact
    - https://convocation.iitd.ac.in/api/gallery
    - https://ird.iitd.ac.in/api/contact
    - https://ird.iitd.ac.in/api/circulars
    - https://ird.iitd.ac.in/api/announcements
    - https://ird.iitd.ac.in/api/pages
    - https://csc.iitd.ac.in/api/contact
    - https://csc.iitd.ac.in/api/pages
    note: Reverse-described from observed anonymous responses. IIT Delhi did not publish this document and does not describe this API anywhere. Not a provider-authored contract.
servers:
- url: https://convocation.iitd.ac.in/api
  description: Convocation office deployment (verified 2026-08-30)
- url: https://ird.iitd.ac.in/api
  description: Industrial Research & Development Unit deployment (verified 2026-08-30)
- url: https://csc.iitd.ac.in/api
  description: Computer Services Centre deployment (verified 2026-08-30)
tags:
- name: News
  description: Announcements and news items published by the unit.
paths:
  /news:
    get:
      operationId: listNews
      tags:
      - News
      summary: List announcements and news items
      description: Verified 200 on convocation.iitd.ac.in. 404 on the ird and csc deployments — the platform mounts routes per unit, so a path present on one host may be absent on another.
      responses:
        '200':
          description: Array of news / announcement records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsItem'
        '404':
          description: Route not mounted on this deployment
  /announcements:
    get:
      operationId: listAnnouncements
      tags:
      - News
      summary: List unit announcements
      description: Verified 200 on ird.iitd.ac.in, returning an empty array at probe time.
      responses:
        '200':
          description: Array of announcement records (may be empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              examples:
                empty:
                  summary: Observed on ird.iitd.ac.in 2026-08-30
                  value: []
        '404':
          description: Route not mounted on this deployment
components:
  schemas:
    NewsItem:
      type: object
      title: NewsItem
      properties:
        announcement_id:
          type: integer
        convocation_id:
          type:
          - integer
          - 'null'
        announcement_text:
          type: string
        announcement_date:
          type:
          - string
          - 'null'
          format: date-time
        image_path:
          type:
          - string
          - 'null'
          description: Relative path under uploadsNews/
        link:
          type:
          - string
          - 'null'
        pdf_path:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - announcement_id
      - announcement_text
  securitySchemes:
    iitdOAuthSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after an interactive login against the institute OAuth 2 server at https://oauth.iitd.ac.in/. That server publishes no OpenID Connect discovery document, no authorization or token endpoint documentation and no scope vocabulary — verified 404 on /.well-known/openid-configuration and /.well-known/oauth-authorization-server on 2026-08-30 — so the flow cannot be described further from public evidence.
