openapi: 3.2.0
info:
  title: IIT Delhi Departmental Site Platform Contact API
  version: '2026-08-30'
  summary: Undocumented but publicly readable JSON API backing the shared React/Express site platform IIT Delhi runs across its departmental and unit subdomains.
  description: 'Indian Institute of Technology Delhi operates a shared web platform used by several

    of its departments and administrative units — the Convocation office

    (`convocation.iitd.ac.in`), the Industrial Research & Development Unit

    (`ird.iitd.ac.in`) and the Computer Services Centre (`csc.iitd.ac.in`) all serve a

    create-react-app front end backed by an Express JSON API mounted at `/api`.'
  contact:
    name: Computer Services Centre, IIT Delhi
    url: https://csc.iitd.ac.in/
  x-operator: institution
  x-provenance:
    generated: '2026-08-30'
    method: derived
    x-derivation: probed
    source:
    - https://convocation.iitd.ac.in/api/news
    - https://convocation.iitd.ac.in/api/contact
    - https://convocation.iitd.ac.in/api/gallery
    - https://ird.iitd.ac.in/api/contact
    - https://ird.iitd.ac.in/api/circulars
    - https://ird.iitd.ac.in/api/announcements
    - https://ird.iitd.ac.in/api/pages
    - https://csc.iitd.ac.in/api/contact
    - https://csc.iitd.ac.in/api/pages
    note: Reverse-described from observed anonymous responses. IIT Delhi did not publish this document and does not describe this API anywhere. Not a provider-authored contract.
servers:
- url: https://convocation.iitd.ac.in/api
  description: Convocation office deployment (verified 2026-08-30)
- url: https://ird.iitd.ac.in/api
  description: Industrial Research & Development Unit deployment (verified 2026-08-30)
- url: https://csc.iitd.ac.in/api
  description: Computer Services Centre deployment (verified 2026-08-30)
tags:
- name: Contact
  description: Departmental office contact directory entries.
paths:
  /contact:
    get:
      operationId: listContacts
      tags:
      - Contact
      summary: List departmental contact directory entries
      description: Verified 200 on all three deployments. Returns a flat array; an empty unit returns `[]` rather than 404.
      responses:
        '200':
          description: Array of contact entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contact'
              examples:
                ird:
                  summary: Observed on ird.iitd.ac.in 2026-08-30
                  value:
                  - id: 1
                    title: Industrial Research & Development Unit
                    phone: (91) 011-2659 7194
                    email: arird@admin.iitd.ac.in
                    location: null
                    created_at: '2024-08-14T00:00:00.000Z'
                    updated_at: null
components:
  schemas:
    Contact:
      type: object
      title: Contact
      properties:
        id:
          type: integer
        title:
          type: string
          description: Office or role name
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
          format: email
        location:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - id
      - title
  securitySchemes:
    iitdOAuthSession:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Session cookie issued after an interactive login against the institute OAuth 2 server at https://oauth.iitd.ac.in/. That server publishes no OpenID Connect discovery document, no authorization or token endpoint documentation and no scope vocabulary — verified 404 on /.well-known/openid-configuration and /.well-known/oauth-authorization-server on 2026-08-30 — so the flow cannot be described further from public evidence.
